*{
    margin: 0;
    padding: 0;
}

@font-face {
        font-family: "Outfit-VariableFont_wght";
        src: url("/qr-code-component-main/fonts/Outfit/Outfit-VariableFont_wght.ttf") ;
}

html{
   font-family: "Outfit-VariableFont_wght", sans-serif;
}

.container{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-content: center;
}

.container2{
    background-color: hsl(0, 0%, 100%);
    width: 330px;
    height: 500px;
    border-radius: 0.938rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

.container .imagen img{
    border-radius: 0.938rem;
}

.imagen{
    padding: 0.938rem;
}


.texto1{
    font-size: 0.938rem;
    font-variation-settings: "wght" 700;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    color: hsl(218, 44%, 22%);
    text-align: center; 
    grid-column: 1/2;
    grid-row: 2/3;
}

.texto2{ 
    font-size: 0.938rem;
    font-variation-settings: "wght" 400;
    padding-top: 10px;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
    color:hsl(220, 15%, 55%);
    text-align: center; 
    grid-column: 1/2;
    grid-row: 3/4;
}

@media screen and (max-width: 375px) {
    html{
        font-size: 0.7em;
    }
    .container{
       width: 75%;
       padding-top: 6.25rem;
       padding-bottom: 6.25rem;
    }
    
    .container2{
        width: 175px;
        height: 320px;
        grid-template-rows: repeat(3, 1fr 0.8fr 0.8fr);
        justify-content: center;
        align-content: center;
    }
    .imagen img{
        width: 150px;
        height: 150px;
    }

}


